
*{
   margin: 0px;
   padding: 0px;
   font-family:SemiBold Italic;
  font-style: normal;
  font-weight: 100;
  box-sizing: border-box;
}

body{
   height: 100%;
   font-family:  sans-serif;
  font-style: normal;
  font-weight: 100;
  box-sizing: border-box;
 background-color:#D2B48C;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:#101617;
  padding: 4px;
  transform: translate(0, 165px);
  justify-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 80px solid #101617;
  text-align: center;
  height: 50%;
  width: 50%;
}
img{
    height: 100%;
    width: 100%;
}
.title{
   color: white;
}
